<div class="page-container">
  <div class="flex-between mb-24">
    <h1 class="page-title" style="margin-bottom:0">My Blogs</h1>
    <a mat-flat-button color="primary" routerLink="/create-blog">
      <mat-icon>add</mat-icon> New Blog
    </a>
  </div>

  @if (loading) {
    <div class="flex-center" style="padding: 80px"><mat-spinner diameter="56"></mat-spinner></div>
  } @else if (blogs.length === 0) {
    <div class="empty-state">
      <mat-icon>article</mat-icon>
      <h3>No blogs yet</h3>
      <p>Start writing and sharing your ideas!</p>
      <a mat-flat-button color="primary" routerLink="/create-blog" class="mt-16">
        <mat-icon>add</mat-icon> Create First Blog
      </a>
    </div>
  } @else {
    <div class="table-wrapper">
      <table mat-table [dataSource]="blogs" class="blogs-table">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let blog" class="title-cell">{{ blog.title }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let blog" class="text-muted">{{ blog.createdAt | date:'mediumDate' }}</td>
        </ng-container>

        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef>Comments</th>
          <td mat-cell *matCellDef="let blog">
            <span class="comment-badge">{{ blog.commentCount }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let blog">
            <div class="actions flex gap-8">
              <a mat-icon-button color="primary" [routerLink]="['/blogs', blog.id]" matTooltip="View">
                <mat-icon>visibility</mat-icon>
              </a>
              <a mat-icon-button color="accent" [routerLink]="['/edit-blog', blog.id]" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </a>
              <button mat-icon-button color="warn" (click)="confirmDelete(blog)" matTooltip="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  }
</div>
